.miniplayer {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--size-9);
  padding: var(--size-1);
  animation: var(--animation-slide-in-up) forwards;
  cursor: pointer;
  position: relative;

  &,
  * {
    transition: all 0.3s ease;
  }

  img {
    height: calc(var(--size-8) + var(--size-2));
    width: calc(var(--size-8) + var(--size-2));
    object-fit: cover;
    border-radius: calc(var(--roundness) * 0.6);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    pointer-events: none;
  }



  button,
  i {
    background: none;
    border: none;
    color: var(--text);
    font-size: var(--size-5);
    aspect-ratio: 1;
    padding: 0;
    transition: transform 0.2s, color 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: var(--text2);
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }
  }

  #playButton {
    font-size: var(--size-7);
    margin: 0 var(--size-2);

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  .ri-heart-line,
  .ri-heart-fill {
    font-size: var(--size-6);
  }

  .mediaDetails {
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    margin-left: var(--size-3);
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
      font-weight: 600;
      font-size: var(--font-size-2);
      display: block;
      margin-bottom: 2px;
    }

    a,
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--text);
    }


    p {
      font-size: var(--font-size-0);
      font-weight: 500;
      opacity: 0.7;
    }
  }

  progress {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    accent-color: auto;
    appearance: none;
    pointer-events: none;

    &::-webkit-progress-bar {
      background: transparent;
    }

    &::-webkit-progress-value {
      background: linear-gradient(90deg, transparent, var(--onBg2));
      border-bottom: 2px solid var(--text);
      box-shadow: 0 0 10px var(--text);
      transition: width 0.5s linear;
    }
  }

}