nav {
  display: flex;
  width: 100%;
  margin: auto 0;
  justify-content: space-around;
  padding: 0 var(--size-2);

  i {
    font-size: var(--font-size-4);
    padding: var(--size-2);
    opacity: 0.6;
    flex-grow: 0;
    text-align: center;
    color: var(--text);
    height: auto;
    border-radius: var(--roundness);
    transition: all 0.3s ease;
    position: relative;

    &:hover {
      opacity: 1;
      background-color: var(--onBg);
    }
  }

  .on {
    opacity: 1;
    color: var(--text2);
    font-weight: var(--font-weight-7);
    transform: scale(1.1);
    text-shadow: 0 0 15px var(--source);

    &:hover {
      opacity: 1;
    }
  }
}